@model IEnumerable<Milkyfie.Models.ApplicationUser>
@if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
              <td>
               <a style="color:blue" class="userbalance" data-id="@item.Id"> @Html.DisplayFor(modelItem => item.Balance)</a>
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>  <a class="btn-ed-del btndel" data-id="@item.Id"><img src="~/img/delete.png" class="img-action" /></a></td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}

<script>
    
    $('.userbalance').click(function(){
    var id=$(this).attr('data-id');
     var formData = new FormData();
          formData.append("Id",id);
      $.ajax({
              type: 'POST',
              url: '/Users/UserBalance',
              processData: false,
              contentType: false,
              data: formData,
              success: result => {
                      Q.alert({
                    title: "Add Balance",
                    body:result,
                    width : '900px',
                    });
                  Q.preloader.remove();
              },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
          })
  
    })
</script>