@model IEnumerable<Milkyfie.Models.ApplicationUser>
@if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a style="color:blue" class="userbalance" data-id="@item.Id"> @Html.DisplayFor(modelItem => item.Balance)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td> 
                 <a class="btn-ed-ed" data-id="@item.Id"><img src="~/img/pencil.png" class="img-action" /></a>
                <a class="btn-ed-del btndel" data-id="@item.Id"><img src="~/img/delete.png" class="img-action" /></a>
               </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="3">No Records Found</td>
    </tr>
}

<script>
     $('.btn-ed-ed').click(function(){
         var id = $(this).attr("data-id");
          Q.preloader.load();
              $.ajax({
                type: 'post',
                url: '/Users/UserForm',
                 data:{role:"",id:id},
                success: function (data) {
                    console.log(data)
                Q.alert({
                    title: "Add User",
                    body:data,
                    width : '900px',
                    });
                      Q.preloader.remove();
                },
                error: function (data) {
                    Q.renderError(data);
                },
            });
    })

    $('.btn-ed-del').click(function(){
      var id=$(this).attr('data-id');
    $.ajax({
              type: 'post',
               url: 'DeleteUser',
               data: {id:id},
               success: function (data) {
                   if(data.statusCode==1)
                 {
                     getUsers();
                           Q.notify(data.statusCode, data.responseText);
                 }
                 else
                 {
                         Q.notify(data.statusCode, data.responseText);
                 }

                     Q.preloader.remove();
               },
               error: function (data) {
                   console.log('An error occurred.');
                   console.log(data);
                      Q.notify(-1, 'An error occurred.');
                        Q.preloader.remove();
               },
           });
      })



     $('.userbalance').click(function(){
     var id=$(this).attr('data-id');
      var formData = new FormData();
           formData.append("Id",id);
       $.ajax({
               type: 'POST',
               url: '/Users/UserBalance',
               processData: false,
               contentType: false,
               data: formData,
               success: result => {
                       Q.alert({
                     title: "Add Balance",
                     body:result,
                     width : '900px',
                     });
                   Q.preloader.remove();
               },
                 error: function (data) {
                     console.log('An error occurred.');
                     console.log(data);
                     Q.preloader.remove();
                 },
           })

     })
</script>