@using Milkyfie.AppCode.Reops.Entities;
@model List<News>

    @if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr data-id="@item.NewsID">
            <td>@i</td>
            <td>@Html.DisplayFor(modelItem => item.NewsTitle)</td>
            <td>@Html.DisplayFor(modelItem => item.NewsDescription)</td>
            @{
                string act = @item.IsActive == true ? "checked" : "";
            }
            <td class="p    arent@(item.IsActive)"><input type="checkbox" @act  disabled> </td>

            <td>
                @*                <a class="btn-ed-ed" data-id="@item.CategoryID" data-pid="@item.Parent.ParentID"><img src="~/img/pencil.png" class="img-action" /></a>
                *@                <a class="btn-ed-del" data-id="@item.NewsID"><img src="~/img/delete.png" class="img-action" /></a>
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="5">No Records Found</td>
    </tr>
}

<script>

     $('.btn-ed-del').click(function(){
           Q.preloader.load();
         var id = $(this).attr("data-id");

        $.ajax({
           type: 'post',
            url: 'DelNews',
            data: {id:id},
            success: function (data) {
                if(data.statusCode==1)
              {

                loadNews();
                        Q.notify(data.statusCode, data.responseText);
              }
              else
              {
                      Q.notify(data.statusCode, data.responseText);
              }

                  Q.preloader.remove();
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
                   Q.notify(-1, 'An error occurred.');
                     Q.preloader.remove();
            },
        });

    })

</script>