@using Milkyfie.AppCode.Reops.Entities;
 @model List<OrderSchedule>

@if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr data-id="@item.Category.CategoryID">
            <td>@i</td>
            <td class="name">@Html.DisplayFor(modelItem => item.User.Name)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.Frequency.FrequencyName)</td>
              <td class="name">@Html.DisplayFor(modelItem => item.Quantity)</td>

             <td class="name">@Html.DisplayFor(modelItem => item.Sunday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Monday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Tuesday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Wednesday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Thursday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Friday)</td>
             <td class="name">@Html.DisplayFor(modelItem => item.Saterday)</td>
           




          
            <td class="name">@Html.DisplayFor(modelItem => item.StartFromDate)</td>
            <td class="name">
                <h6>
                    @{
                        string colr = item.Status == Status.Approved ? "success" : item.Status == Status.Reject ? "danger" : "warning";
                    }
                    <span class="badge badge-@colr"> @item.Status.ToString()</span>
                </h6>
            </td>
            <td>
                @if (item.Status == Status.Pending)
                {
                    <a class="btn-ed-ed" onclick="ASchedule(@item.ScheduleID,'A')"><img src="~/img/accept.png" class="img-action" /></a>
                    <a class="btn-ed-del" onclick="ASchedule(@item.ScheduleID,'R')"><img src="~/img/rejected.png" class="img-action" /></a>
                }
                else if (item.Status == Status.Approved)
                {
                
               //   string check=@item.IsActive==true?"Checked":"";
                 
                    <!-- Default switch -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" data-id="@item.ScheduleID" class="custom-control-input chkapprove" @Html.Raw(@item.IsActive==true?"Checked":"")   id="@("chkapprove"+@i)">
                        <label class="custom-control-label" for="@("chkapprove"+@i)"></label>
                    </div>
                }
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="5">No Records Found</td>
    </tr>
}

<script>
        $('.chkapprove').change(function() {
               var formData = new FormData();
            formData.append("ID", $(this).attr('data-id'));
            formData.append("status",this.checked);
             $.ajax({
              type: 'POST',
              url: 'ActDeaOrderSch',
              processData: false,
              contentType: false,
              data: formData,
              success: result => {
                  if(result.statusCode==1)
                  {
                      Q.notify(result.statusCode, result.responseText);
                      loadScheduleOrders();
                  }
                  else
                  {
                   Q.notify(result.statusCode, result.responseText);
                  }
                  Q.preloader.remove();
              },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
          })
    });


    function ASchedule(id,type){
          //  Q.preloader.load();
          var formData = new FormData();
            formData.append("ID", id);
            formData.append("Type",type);
            $.ajax({
              type: 'POST',
              url: 'UpdateOrderSchedule',
              processData: false,
              contentType: false,
              data: formData,
              success: result => {

                  if(result.statusCode==1)
                  {
                      Q.notify(result.statusCode, result.responseText);
                      loadScheduleOrders();
                  }
                  else
                  {
                   Q.notify(result.statusCode, result.responseText);
                  }
                  Q.preloader.remove();
              },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                    Q.preloader.remove();
                },
          })
    }


</script>