@using Milkyfie.AppCode.Reops.Entities;
 @model List<OrderSummary>

@if (Model != null && Model.Any())
{
    int i = 1;

    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td class="name"><a onclick="loadOrderDetails(@item.OrderID)">@Html.DisplayFor(modelItem => item.OrderID)</a></td>
            <td class="name">@Html.DisplayFor(modelItem => item.User.Name)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.OrderDate)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.TotalItem)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.TotalCost)</td>
            <td class="name">@Html.DisplayFor(modelItem => item.TotalDiscount)</td>

            @{
                string colr = item.Status == Status.Completed ? "success" : item.Status == Status.PartialDelivered ? "info" : "warning";
            }
            <td class="name"><h6><span class="badge badge-@colr"> @item.Status.ToString()</span> </h6> </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="5">No Records Found</td>
    </tr>
}
<script>

       function loadOrderDetails(id){
           var formData=new FormData();
        formData.append("OrderSummary.OrderID",id);
            Q.preloader.load();
         $.ajax({
               type: 'post',
                url: 'OrderSummaryDetailList',
                processData: false,
               contentType: false,
               data: formData,
                success: function (data) {
                      Q.preloader.remove();
                       Q.alert({
                    title: "Order Details",
                    body:data,
                    width : '900px',
                    });
                },
                error: function (data) {
                     Q.preloader.remove();
                    console.log('An error occurred.');
                    console.log(data);
                       Q.notify(-1, 'An error occurred.');
                },

          });
    }
</script>
